.footer-container {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: rgb(117, 117, 117);
    margin-top: 20px;
}
