.list-game-container {
    width: 100%;

    .list-game {
        display: flex;
        justify-content: space-between;

        flex-wrap: wrap;
        .list-game-box {
            width: 32%;
            background-color: #202020;
            border-radius: 10px;
            max-height: 245px;

            margin-bottom: 20px;
            transition: max-height 0.5s ease-in;
            overflow: hidden;
            &:hover {
                max-height: 500px;
                transition: max-height 1.5s ease-out;
            }

            .game-img {
                width: 100%;
                height: 190px;
                overflow: hidden;
                text-align: center;
                position: relative;

                img {
                    height: 100%;
                    // display: block;
                    // margin: 0 auto;
                    // object-fit: cover;
                    position: absolute;
                    top: -9999px;
                    bottom: -9999px;
                    left: -9999px;
                    right: -9999px;
                    margin: auto;
                }
            }
            .game-title-container {
                width: 100%;
                padding: 0px 10px;
                text-align: left;
                .game-title {
                    font-family: "Shippori Antique B1", sans-serif;
                    color: #fff;
                    font-size: 24px;
                    margin: 10px 0px 20px 0px;
                }
            }

            .info-game {
                width: 100%;
                padding: 0px 10px 10px 10px;

                .release-date {
                    display: flex;
                    justify-content: space-between;
                    .release-date-text {
                        color: rgb(187, 187, 187);
                        font-size: 14px;
                    }
                    .release-date-content {
                        color: #fff;
                        font-size: 14px;
                    }
                }
            }
        }
    }
    .pagination-container {
        display: inline-block;
        margin: 30px 0px;
    }
}

.css-kvsszq-MuiButtonBase-root-MuiPaginationItem-root {
    background-color: rgba(196, 196, 196, 0.12) !important;
    color: #fff !important;
}

.css-kvsszq-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
    color: #fff !important;
    border: 1px solid rgb(133, 133, 133) !important;
    background-color: rgb(95, 95, 95) !important;
}
